@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    /* colors */
    --gray_100: #F4F4F4;
    --gray_200: #9B9B9B;
    --gray_300: #9398A9;
    --gray_400: #636671;
    --gray_500: #575663;
    --gray_600: #4D4D4D;
    --mint_100: #09F6F9;
    --blue_100: #1F4D9C;
    --bluegray_100: #D5D6D8;
    --navy_100: #262C43;
    --navy_200: #101527;


    /* font */
    --kor_title:"EsaManru";
    --kor: "Noto Sans KR";
    --eng: "Orbitron";
}
html{
    scroll-behavior: smooth;
}
body{
    width: 1920px;
    background-color: #101527;
}
/* header */
header{
    width: 100%;
    height: 80px; 
    color: var(--gray_300);
    position: relative;
}
#header{
    width: 1920px;
    height: 80px;
    margin: 20px 140px; 
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0;left: 0;
    z-index: 5;
    transition: all 0.6ms;
}
#header::after{
    content: '';
    display: block;
    width: 1920px;
    position: absolute;
    top: -20px;
    left: -140px;
    background-image: url(/imgs/Main/Main_V/menubg.png);
    opacity: 0.9;
    z-index: -1;
    transition: all 500ms;
    height: 0px;
    overflow: hidden;
}
#header.bgon::after{
    height: 372px;
}
#header>.logo{
    width: 10%;
}
#header>nav{
    width: 60%;
    margin: 0px auto;
}
#header>nav>ul{
    display: flex;
    justify-content: center;
}
#header>nav>ul>li>a{
    display: inline-block;
    padding: 10px 48px;
    color: var(--gray_300, #9398A9);
    font-family: var(--kor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
#header>nav>ul>li>a.hover{
    border-bottom: 3px solid var(--gray_100);
}
#header>nav>ul>li>ul>li>a.hover{
    color: var(--gray_100);
}
#header>nav>ul>li{
    position: relative;
}
#header>nav>ul>li>ul{
    width: 110%;
    text-align: center;
    position: absolute;
    top: 50px;
    left: -10px;
    transition: all 600ms;
    height: 0px;
    overflow: hidden;
}
#header>nav>ul>li>ul>li>a{
    color: var(--gray_300, #9398A9);
    font-family: var(--kor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    display: inline-block;
    padding: 12px 0px;
}
.icons{
    width: 20%;
    justify-content: right;
}
.icons>ul{
    display: flex;
    height: 40px;
    width: 120px;
}
.icons>ul>li{
    margin: 0px 2px;
}


/* submenu2 */
.subVisual{
    background-image: url(/imgs/List/sub_v.jpg);
    position: relative;
    width: 1920px; height: 600px;
}
.subVisual>span{
    position: absolute;
    color: var(--gray_100);
    font-size: 70px;
    font-family: var(--eng);
    font-weight: 500;
    top: 43%; left: 31%;
}
.submenu2.fixed{
    position: fixed;
    top: 0; 
    width: 1640px;
    z-index: 5;
}

.submenu2{
    padding: 0 140px;
    display: flex;
    background: #060A1D;
}
.submenu2>li>a{
    display: inline-block;
    font-family: var(--kor);
    font-weight: 400;
    color: var(--gray_300);
    padding: 20px 0px;
    font-size: 20px;
}
.submenu2>li>a.on{
    border-bottom: 2px solid var(--gray_100);
    color: var(--gray_100);
    font-weight: 500;
}

/* Footer */
footer{
    width: 1920px;height: 630px;
    background-color: #090B15;
    box-sizing: border-box;
}
footer>.up{
    width: 1640px;
    height: 172px;
    border-bottom: 0.5px solid var(--gray_600);
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}
footer> .up > h3{
    display: inline-block;
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 15px;
    font-weight: 600;
    margin-top: 124px;
    margin-left: 0;
}
footer>.up h3{
    margin-right: 120px;
}
footer>.up h3:nth-child(4){
    margin-right: 84px;
}
.up>.logo{
    margin-right: 840px;
    padding-bottom: 33px;
    padding-top: 90px;
    padding-left: 62px;
}
.up>.topbtn{
    margin-top: 100px;
}
footer>.down{
    margin-left: 140px;
    margin-right: 140px;
}
footer>.down.footerwrap{
    width: 1640px;
    height: 346px;
}
footer>.down>.footerwrap>.contactus>h3{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-top: 58px;
    padding-left: 62px;
    margin-bottom: 30px;
}
footer>.down>.footerwrap>.contactus>li{
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-left: 62px;
}
.footerwrap{
    display: flex;
}
.footerwrap>.information>.menuwrap{
    display: flex;
}
.information>h3{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-top: 58px;
    padding-left: 77px;
    margin-bottom: 30px;
}
.menuwrap>ul:first-child{
    padding-left: 77px;
    padding-right: 48px;
}
.menuwrap>ul:last-child{
    padding-left: 40px;
}
.menuwrap>ul>li>a{
    display: inline-block;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 28px;
}
.footerwrap{
    margin: 0;
}
.footerwrap>.contactus, .information, .sustain_bus, .ir_infor{
    margin: 0;
}
.footerwrap>ul{
    margin-top: 37px;
}
.footerwrap>.com_infor{
    margin-left: 290px;
    margin-right: 0;
    padding-right: 109px;
}
.footerwrap>.ir_infor{
    padding-right: 104px;
}
.footerwrap>ul>li>a{
    display: inline-block;
    padding-bottom: 30px;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
}
.footerwrap>ul>li:last-of-type>a{
    padding-bottom: 0;
}
footer>.down>.icons{
    width: 1640px;
    height: 66px;
    display: flex;
    align-items: center;
    margin-left: 46px;
}
footer>.down>.icons>span{
    align-items:end;
}
.icons>a>i{
    color: var(--gray_100, #F4F4F4);
    font-family: "Font Awesome 5 Brands";
    font-size: 22px;
    font-weight: 400;
    padding-right: 38px;
}
.icons>.familysite{
    width: 284px; height: 44px;
    border: 0.5px solid var(--gray_400);
    color: var(--gray_100);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #090B15;
    position: relative;
    margin-right: 700px;
}
.icons>.familysite>img{
    float: right;
    margin-top: 2px;
}
.icons>.familysite>.drop{
    position: absolute;
    background-color: #090B15;
    border: 0.5px solid var(--gray_400);
    border-bottom: 0;
    top: -452px;
    left: -1px;
    padding: 15px;
    width: 284px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3;
}
.icons>.familysite>.drop.active{
    opacity: 1;
}
.drop>li>a{
    display: inline-block;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    line-height: 2.5;
}
.icons>span{
    float: right;
    color: var(--gray_400, #636671);
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 300;
    margin-top: auto;
}

/* footer FIN */


/* list css */
h1,h2,h3,h4,h5,p{
    line-height: 1.5;
}
.bodywrap{
    width: 1920px;
    display: flex;
    position: relative;
}

/* filter */
.bodywrap>.filter{
    width: 414px;
    margin: 0;
    margin-top: 100px;
    margin-left: 140px;
}
.filter>div>h5{
    font-family: var(--kor);
    font-size: 22px;
    font-weight: 400;
    color: var(--gray_100);
    margin-bottom: 36px;
}
.filter>div>h5>span{
    margin-left: 16px;
    color: var(--gray_200);
    font-size: 14px;
    font-family: var(--kor);
    font-weight: 300;
}
.filter>div>form{
    margin-bottom: 52px;
}
.filter>div>form>.inputwrap{
    margin-bottom: 14px;
}
input[type="checkbox"], input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.filter>div>form>.inputwrap>label{
    color: var(--gray_200);
    font-family: var(--kor);
    font-size: 20px;
    font-weight: 400;
    margin-left: 18px;
    position: relative;
}
.inputwrap input:checked + label {
    font-weight: 500 !important;
    color: var(--gray_100) !important;
}
.inputwrap>input:checked + label::after{
    position: absolute;
    top: 9px; left: -36px;
    content: '';
    width: 12px; height: 12px;
    border-radius: 12px;
    background-color: var(--mint_100);
}
input{
    margin-right: 18px;
    width: 24px; height: 24px;
    margin: 0;
}
.checkbox, .radio{
    border: 1px solid var(--gray_400);
    border-radius: 20px;
}
.checkbox:checked, .radio:checked{
    border: 1px solid var(--mint_100);
}
.color{
    border: 1px solid var(--gray_400);
    margin-right: 18px;
    border-radius: 20px;
}
.color:checked{
    border: 2.5px solid var(--mint_100);
}
#color1{ background: linear-gradient(to bottom left, 
    #FF0000, #FFC700, #5FA069,#0029FF);}
#color2{background-color: #CFD0D4;}
#color3{background-color: #86878B;}
#color4{background-color: #000;}
#color5{background-color: #AB0408;}
#color6{background-color: #072387;}
#color7{background-color: #95842A;}
.inputwrap{
    display: flex;
    align-items: center;
}
/* carswrap */
.carswrap{
    width: 1285px;
    margin-top: 35px;
    box-sizing: content-box;
}
.carswrap>div{
    transition: 0s;
}
.passengerwrap>div{
    border-bottom: 1px solid var(--gray_500);
    padding-bottom: 36px;
}
.passengerwrap>div>div>div>h2{
    margin-top: 65px;
    font-family: var(--kor);
    font-size: 33px;
    margin-bottom: 4px;
    line-height: 1.5;
    color: var(--gray_100);
    font-weight: 500;
}
.passengerwrap>div>div>div>p{
    color: var(--gray_200);
    line-height: 1.5;
    font-size: 18px;
    font-family: var(--kor);
    font-weight: 400;
}
.passengerwrap>div>div>div>.textwrap{
    border: 1px solid var(--gray_400);
    width: 600px; height: 100px;
    display: flex;
    float: left;
    margin-top: 200px;
}
.passengerwrap>div>div>div>.textwrap>div{
    height: 100px;
    text-align: center;
    padding: 14px 20px;
    margin: 0;
}
.passengerwrap>div>div>div>.textwrap>.firstdiv{
    width: 130px;
}
.passengerwrap>div>div>div>.textwrap>.lastdiv{
    width: 100px;
}
.passengerwrap>div>div>div>.textwrap>div>.title{
    font-family: var(--kor);
    font-size: 20px;
    color: var(--bluegray_100);
    font-weight: 400;
    line-height: 1.5;
}
.passengerwrap>div>div>div>.textwrap>div>.body{
    font-family: var(--kor);
    color: var(--gray_100);
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
}
.passengerwrap>div>.btnwrap{
    display: flex;
    width: 1222px;
    float: bottom;
    margin-left: 0;
}

.passengerwrap>div>.btnwrap>.mainbtn>a{
    display: inline-block;
    background-color: #D9D9D910;
    border: 1px solid var(--gray_500);
    font-weight: 500;
    font-size: 20px;    
    width: 364px;
    color: var(--gray_100);
    padding: 14px;
    text-align: center;
    margin-right: 22px;
}
.passengerwrap>div>.btnwrap>.mainbtn>a:hover{
    color: var(--mint_100);
    background-color: transparent;
    border: 1px solid var(--gray_300);
    box-shadow: 0 0 3px var(--mint_100);
}
.passenger6{
    border-bottom: 0px !important;
    margin-bottom: 0 !important;
}
/* 2ë‹¨ suv */
.suvwrap{
    height: 0;
    overflow: hidden;
    opacity: 0;
}
.suvwrap>div{
    border-bottom: 1px solid var(--gray_500);
    padding-bottom: 36px;
}
.suvwrap>div>div>div>h2{
    margin-top: 65px;
    font-family: var(--kor);
    font-size: 33px;
    margin-bottom: 4px;
    line-height: 1.5;
    color: var(--gray_100);
    font-weight: 500;
}
.suvwrap>div>div>div>p{
    color: var(--gray_200);
    line-height: 1.5;
    font-size: 18px;
    font-family: var(--kor);
    font-weight: 400;
}
.suvwrap>div>div>div>.textwrap{
    border: 1px solid var(--gray_400);
    width: 600px; height: 100px;
    display: flex;
    float: left;
    margin-top: 200px;
}
.suvwrap>div>div>div>.textwrap>div{
    height: 100px;
    text-align: center;
    padding: 14px 20px;
    margin: 0;
}
.suvwrap>div>div>div>.textwrap>.firstdiv{
    width: 130px;
}
.suvwrap>div>div>div>.textwrap>.lastdiv{
    width: 100px;
}
.suvwrap>div>div>div>.textwrap>div>.title{
    font-family: var(--kor);
    font-size: 20px;
    color: var(--bluegray_100);
    font-weight: 400;
    line-height: 1.5;
}
.suvwrap>div>div>div>.textwrap>div>.body{
    font-family: var(--kor);
    color: var(--gray_100);
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
}
.suvwrap>div>.btnwrap{
    display: flex;
    width: 1222px;
    float: bottom;
    margin-left: 0;
}

.suvwrap>div>.btnwrap>.mainbtn>a{
    display: inline-block;
    background-color: #D9D9D910;
    border: 1px solid var(--gray_500);
    font-weight: 500;
    font-size: 20px;    
    width: 364px;
    color: var(--gray_100);
    padding: 14px;
    text-align: center;
    margin-right: 22px;
}
.suvwrap>div>.btnwrap>.mainbtn>a:hover{
    color: var(--mint_100);
    background-color: transparent;
    border: 1px solid var(--gray_300);
    box-shadow: 0 0 3px var(--mint_100);
}
.suv8{
    border-bottom: 0px !important;
    margin-bottom: 0 !important;
}

/* car Img */
#carimg1{
    background-image: url(/imgs/List/car1.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg2{
    background-image: url(/imgs/List/car2.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg3{
    background-image: url(/imgs/List/car3.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg4{
    background-image: url(/imgs/List/car4.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg5{
    background-image: url(/imgs/List/car5.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg6{
    background-image: url(/imgs/List/car6.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg7{
    background-image: url(/imgs/List/car7.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg8{
    background-image: url(/imgs/List/car8.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg9{
    background-image: url(/imgs/List/car9.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg10{
    background-image: url(/imgs/List/car10.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg11{
    background-image: url(/imgs/List/car11.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg12{
    background-image: url(/imgs/List/car12.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg13{
    background-image: url(/imgs/List/car13.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}
#carimg14{
    background-image: url(/imgs/List/car14.png);
    width: 610px; height: 340px;
    margin-right: 10px; margin-bottom: 10px;
}


/* quick menu */
.quickmenu{
    width: 140px;
    margin: 0 auto;
    margin-top: 70px;
    align-items: center;
    margin-left: 20px;
}
.quickmenu>.menuwrap.qfixed{
    position: fixed;
    top: 120px;
    margin-left: 20px;
    width: 90px;
    z-index: 5;
}
.quickmenu>.menuwrap{
    width: 90px;
    height: 488px;
    background-color: #060A1D;
    border: 1px solid var(--gray_500);
    border-radius: 45px;
    text-align: center;
    padding-top: 12px;
}
.quickmenu>.menuwrap>a{
    width: 90px;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    font-family: var(--kor);
    color: var(--gray_300);
    margin-bottom: 24px;
}
.quickmenu>.menuwrap>a:hover{
    color: var(--mint_100);
}
#qicon1{
    width: 58px; height: 58px;
    background-image: url(/imgs/List/icon-car.svg);
}
.quickmenu>.menuwrap>a:hover>#qicon1{
    background-image: url(/imgs/List/icon-car-hover.svg);
}
#qicon2{
    width: 58px; height: 58px;
    background-image: url(/imgs/List/icon-money.svg);
}
.quickmenu>.menuwrap>a:hover>#qicon2{
    background-image: url(/imgs/List/icon-money-hover.svg);
}
#qicon3{
    width: 58px; height: 58px;
    background-image: url(/imgs/List/icon-handle.svg);
}
.quickmenu>.menuwrap>a:hover>#qicon3{
    background-image: url(/imgs/List/icon-handle-hover.svg);
}
#qicon4{
    width: 58px; height: 58px;
    background-image: url(/imgs/List/icon-tag.svg);
}
.quickmenu>.menuwrap>a:hover>#qicon4{
    background-image: url(/imgs/List/icon-tag-hover.svg);
}
#qmenu5{
    display: inline-block;
    width: 90px;height: 80px;
    color: var(--navy_100);
    font-size: 14px;
    font-family: var(--eng);
    background-color: #CED0D9;
    border: 1px solid var(--gray_500);
    border-radius: 0 0 45px 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    margin-left: -1px;
    font-weight: 400;
}
#qicon5{
    width: 36px; height: 36px;
    background-image: url(/imgs/List/icon-top.svg);
}




/* banner */
.banner, .banner1, .banner2{
    width: 1920px;
    height: 330px;
}
.banner{
    position: relative;
    overflow: hidden;
    margin-top: 180px;
}
.bannerwrap{
    width: 7680px;
    height: 330px;
    display: flex;
}
.banner>.bannerwrap>.banner1{
    background-image: url(/imgs/List/banner1.jpg);
    position: relative;
}
.banner>.bannerwrap>.banner2{
    background-image: url(/imgs/List/banner2.jpg);
    position: relative;
}
.banner1>.title{
    position: absolute;
    left: 140px;top: 90px;
    font-weight: 400;
    font-size: 50px;
    font-family:"STIX Two Text", serif;
    color: var(--gray_100);
    line-height: 1.5;
}
.banner1>.text{
    position: absolute;
    left: 140px;top: 156px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--kor);
    line-height: 1.5;
    color: #C3C3C3;
}
.banner1>.btn{
    position: absolute;
    left: 632px;top: 230px;
    line-height: 1.5;
    font-size: 20px;
    font-family: var(--kor);
    color: var(--gray_100);
    font-weight: 400;
    width: 88px;
    height: 30px;
    align-items: center;
    display: flex;
}
.banner1>.btn>span{
    background-position: 0 center;
    display: inline-block;
    background: url(/imgs/List/Icon-doublearrow.png);
    width: 30px; height: 30px;
    margin-left: 2px;
}
.banner2>.textwrap{
    position: absolute;
    text-align: center;
    top: 75px; left: 186px;
}
.banner2>.textwrap>.text{
    color: #DAD8CE;
    font-weight: 500;
    font-size: 20px;
    font-family: var(--kor);
}
.banner2>.textwrap>.title{
    margin-top: -16px;
    font-size: 90px;
    font-family: var(--eng);
    line-height: 1.5;
    color: var(--gray_100);
    font-weight: 500;
}
.banner2>.textwrap>.btn{
    display: inline-block;
    color: #4F625B;
    background-color: #D2D1CA;
    padding: 6px 52px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.slidebtn{
    position: absolute;
    right: 42px; bottom: 33px;
    z-index: 1;
    display: flex;
    align-items: center;
}
.slidebtn>a.on{
    display: inline-block;
    background-color: var(--gray_200);
    width: 12px; height: 12px;
    border-radius: 10px;
    margin-right: 8px;
}
.slidebtn>a{
    display: inline-block;
    background-color: var(--gray_600);
    width: 12px; height: 12px;
    border-radius: 10px;
    margin-right: 8px;
}
.slidebtn>.playbtn{
    width: 16px;height: 16px;
    display: inline-block;
    background-color: transparent;
    background-image: url(/imgs/List/icon-pause.png);
    margin-right: 0;
}