@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    /* colors */
    --gray_100: #F4F4F4;
    --gray_200: #9B9B9B;
    --gray_300: #9398A9;
    --gray_400: #636671;
    --gray_500: #575663;
    --gray_600: #4D4D4D;
    --mint_100: #09F6F9;
    --blue_100: #1F4D9C;
    --bluegray_100: #D5D6D8;
    --navy_100: #262C43;
    --navy_200: #101527;


    /* font */
    --kor_title:"EsaManru";
    --kor: "Noto Sans KR";
    --eng: "Orbitron";
}
html{
    scroll-behavior: smooth;
}
body{
    width: 1920px;
    background-color: #101527;
}
h1,h2,h3,h4,h5,p{
    line-height: 1.5;
}

/* header */
header{
    width: 100%;
    height: 80px; 
    color: var(--gray_300);
    position: relative;
}
#header{
    width: 1920px;
    height: 80px;
    margin: 20px 140px; 
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0;left: 0;
    z-index: 5;
    transition: all 0.6ms;
}
#header::after{
    content: '';
    display: block;
    width: 1920px;
    position: absolute;
    top: -20px;
    left: -140px;
    background-image: url(../imgs/Main/Main_V/menubg.png);
    opacity: 0.9;
    z-index: -1;
    transition: all 500ms;
    height: 0px;
    overflow: hidden;
}
#header.bgon::after{
    height: 372px;
}
#header>.logo{
    width: 10%;
}
#header>nav{
    width: 60%;
    margin: 0px auto;
}
#header>nav>ul{
    display: flex;
    justify-content: center;
}
#header>nav>ul>li>a{
    display: inline-block;
    padding: 10px 48px;
    color: var(--gray_300, #9398A9);
    font-family: var(--kor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
#header>nav>ul>li>a.hover{
    border-bottom: 3px solid var(--gray_100);
}
#header>nav>ul>li>ul>li>a.hover{
    color: var(--gray_100);
}
#header>nav>ul>li{
    position: relative;
}
#header>nav>ul>li>ul{
    width: 110%;
    text-align: center;
    position: absolute;
    top: 50px;
    left: -10px;
    transition: all 600ms;
    height: 0px;
    overflow: hidden;
}
#header>nav>ul>li>ul>li>a{
    color: var(--gray_300, #9398A9);
    font-family: var(--kor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    display: inline-block;
    padding: 12px 0px;
}
.icons{
    width: 20%;
    justify-content: right;
}
.icons>ul{
    display: flex;
    height: 40px;
    width: 120px;
}
.icons>ul>li{
    margin: 0px 2px;
}


/* Sub-V */
.subVisual{
    width: 1920px; height: 600px;
    background-image: url(../imgs/Service/Service_visual.jpg);
    position: relative;
}
.subVisual>span{
    position: absolute;
    top: 45%; left: 28%;
    color: var(--gray_100);
    font-family: var(--eng);
    font-weight: 500;
    font-size: 70px;
}
.submenu2.fixed{
    position: fixed;
    top: 0;
    width: 1640px;
    z-index: 5;
}
.submenu2{
    padding: 0 140px;
    display: flex;
    background: #060A1D;
}
.submenu2>li>a{
    display: inline-block;
    font-family: var(--kor);
    font-weight: 400;
    color: var(--gray_300);
    padding: 20px 0px;
    font-size: 20px;
}
.submenu2>li>a.on{
    border-bottom: 2px solid var(--gray_100);
    color: var(--gray_100);
    font-weight: 500;
}
#serviceNetwork{
    padding-top: 120px;
}
#serviceNetwork>h1{
    margin-bottom: 16px;
    color: var(--gray_100);
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    font-family: var(--kor_title);
}
#serviceNetwork>h2{
    color: var(--gray_300);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 66px;
}
#serviceNetwork>div{
    border-top: 1px solid var(--gray_500);
    padding-left: 24px;
    padding-right: 44px;
    width: 1640px;
}

#serviceNetwork>div>a>.textwrap{
    margin: 0;
}
#serviceNetwork>div>a>.textwrap>.maintext>h2{
    color: var(--gray_100);
    font-size: 35px;
    font-family: var(--kor);
    font-weight: 500;
    margin-bottom: 4px;
}
#serviceNetwork>div>a>.textwrap>.maintext>h2>span{
    display: inline-block;
    width: 38px; height: 38px;
    background-image: url(../imgs/Service/Icon-arrow.png);
    background-repeat: no-repeat;
    margin-right: 10px;
}
#serviceNetwork>div>a>.textwrap>.maintext>h3{
    color: var(--bluegray_100);
    font-size: 20px;
    font-family: var(--kor);
    font-weight: 400;
    margin-left: 8px;
}
#serviceNetwork>div>a>.textwrap>.subtext{
    display: flex;
    margin-top: 160px;
}
#serviceNetwork>div>a>.textwrap>.subtext>h5{
    font-family: var(--kor);
    font-size: 20px;
    font-weight: 500;
    color: var(--bluegray_100);
    padding-right: 20px;
}
#serviceNetwork>div>a>.textwrap>.subtext>.subtextwrap>p{
    font-family: var(--kor);
    font-size: 18px;
    font-weight: 400;
    color: var(--bluegray_100);
    margin-bottom: 6px;
}
#serviceNetwork>div>a>.textwrap>.subtext>.subtextwrap>.small{
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    color: var(--gray_300);
}
#serviceNetwork>div>a>.textwrap>.subtext>.last{
    margin-left: 60px;
}
#serviceNetwork>div>a{
    display: flex;
    margin: 50px 0;
}
#SN1{
    width: 550px; height: 310px;
    margin-right: 0;
    background-image: url(../imgs/Service/centerimg1.jpg);
}
#SN2{
    width: 550px; height: 310px;
    margin-right: 0;
    background-image: url(../imgs/Service/centerimg2.jpg);
}
.btnwrap{
   border-top: none !important;
   padding-top: 70px;
   display: flex;
}
#btn1{
    width: 100px; height: 100px;
    background-image: url(../imgs/Service/Icon-call.svg);
    margin-left: 42px; margin-right: 8px;
}
#btn2{
    width: 100px; height: 100px;
    background-image: url(../imgs/Service/Icon-map.svg);
    margin-left: 42px; margin-right: 8px;
}
#btn3{
    width: 100px; height: 100px;
    background-image: url(../imgs/Service/Icon-bluehands.svg);
    margin-left: 42px; margin-right: 8px;
}
.btnwrap>div{
    width: 525px; height: 130px;
    background: var(--blue_100);
    display: flex;
    align-items: center;
}
.btnwrap>div>.btn_textwrap{
    margin-left: 0;
}
.btnwrap>div>.btn_textwrap>p{
    color: var(--gray_100);
    font-size: 22px;
    font-weight: 500;
    font-family: var(--kor);
    margin-bottom: 2px;
}
.btnwrap>div>.btn_textwrap>span{
    font-weight: 400;
    font-family: var(--kor);
    font-size: 16px;
    color: var(--gray_300);
}

#blueMembers{
    padding-top: 200px;
    box-sizing: border-box;
}
#blueMembers>h1{
    margin-top: 124px;
    margin-bottom: 16px;
    color: var(--gray_100);
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    font-family: var(--kor_title);
}
#blueMembers>h2{
    color: var(--gray_300);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 66px;
}




/* Footer */
footer{
    width: 1920px;height: 630px;
    background-color: #090B15;
    box-sizing: border-box;
}
footer>.up{
    width: 1640px;
    height: 172px;
    border-bottom: 0.5px solid var(--gray_600);
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}
footer> .up > h3{
    display: inline-block;
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 15px;
    font-weight: 600;
    margin-top: 124px;
    margin-left: 0;
}
footer>.up h3{
    margin-right: 120px;
}
footer>.up h3:nth-child(4){
    margin-right: 84px;
}
.up>.logo{
    margin-right: 840px;
    padding-bottom: 33px;
    padding-top: 90px;
    padding-left: 62px;
}
.up>.topbtn{
    margin-top: 100px;
}
footer>.down{
    margin-left: 140px;
    margin-right: 140px;
}
footer>.down.footerwrap{
    width: 1640px;
    height: 346px;
}
footer>.down>.footerwrap>.contactus>h3{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-top: 58px;
    padding-left: 62px;
    margin-bottom: 30px;
}
footer>.down>.footerwrap>.contactus>li{
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-left: 62px;
}
.footerwrap{
    display: flex;
}
.footerwrap>.information>.menuwrap{
    display: flex;
}
.information>h3{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-top: 58px;
    padding-left: 77px;
    margin-bottom: 30px;
}
.menuwrap>ul:first-child{
    padding-left: 77px;
    padding-right: 48px;
}
.menuwrap>ul:last-child{
    padding-left: 40px;
}
.menuwrap>ul>li>a{
    display: inline-block;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 28px;
}
.footerwrap{
    margin: 0;
}
.footerwrap>.contactus, .information, .sustain_bus, .ir_infor{
    margin: 0;
}
.footerwrap>ul{
    margin-top: 37px;
}
.footerwrap>.com_infor{
    margin-left: 290px;
    margin-right: 0;
    padding-right: 109px;
}
.footerwrap>.ir_infor{
    padding-right: 104px;
}
.footerwrap>ul>li>a{
    display: inline-block;
    padding-bottom: 30px;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
}
.footerwrap>ul>li:last-of-type>a{
    padding-bottom: 0;
}
footer>.down>.icons{
    width: 1640px;
    height: 66px;
    display: flex;
    align-items: center;
    margin-left: 46px;
}
footer>.down>.icons>span{
    align-items:end;
}
.icons>a>i{
    color: var(--gray_100, #F4F4F4);
    font-family: "Font Awesome 5 Brands";
    font-size: 22px;
    font-weight: 400;
    padding-right: 38px;
}
.icons>.familysite{
    width: 284px; height: 44px;
    border: 0.5px solid var(--gray_400);
    color: var(--gray_100);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #090B15;
    position: relative;
    margin-right: 700px;
}
.icons>.familysite>img{
    float: right;
    margin-top: 2px;
}
.icons>.familysite>.drop{
    position: absolute;
    background-color: #090B15;
    border: 0.5px solid var(--gray_400);
    border-bottom: 0;
    top: -452px;
    left: -1px;
    padding: 15px;
    width: 284px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3;
}
.icons>.familysite>.drop.active{
    opacity: 1;
}
.drop>li>a{
    display: inline-block;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    line-height: 2.5;
}
.icons>span{
    float: right;
    color: var(--gray_400, #636671);
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 300;
    margin-top: auto;
}

/* footer FIN */




.iconwrap{
    display: flex;
    width: 1640px;
}
.iconwrap>div{
    margin-top: 124px;
    margin-bottom: 76px;
    width: 356px; height: 356px;
    border-radius: 300px;
    border: 1px solid var(--gray_500);
    position: relative;
    text-align: center;
}
.iconwrap>div>span{
    background-color: var(--bluegray_100);
    font-family: var(--kor_title);
    font-size: 18px;
    color: var(--navy_200);
    font-weight: 300;
    padding: 8px 24px;
    border-radius: 30px;
    position: absolute;
    left: 37%;
    top: -5%;
}
.iconwrap>div>h5{
    font-family: var(--kor);
    font-size: 22px;
    font-weight: 500;
    color: var(--gray_100);
    margin-bottom: 12px;
}
.iconwrap>div>p{
    font-family: var(--kor);
    font-size: 22px;
    font-weight: 400;
    color: var(--gray_300);
    font-size: 18px;
    line-height: 1.7;
}
#icon1{
    margin-top: 35px;
    width: 160px; height: 160px;
    background-image: url(../imgs/Service/Icon-car.png);
}
#icon2{
    margin-top: 35px;
    width: 160px; height: 160px;
    background-image: url(../imgs/Service/Icon-gift.png);
}
#icon3{
    margin-top: 35px;
    width: 160px; height: 160px;
    background-image: url(../imgs/Service/Icon-pointcard.png);
}
#blueMembers>.blueMemberBtn{
    text-align: center;
}
#blueMembers>.blueMemberBtn>a{
    display: inline-block;
    padding: 16px 60px;
    color: var(--navy_100);
    font-size: 22px;
    font-family: var(--kor);
    font-weight: 600;
    background-color: var(--gray_100);
    border-radius: 30px;
}
#banner{
    margin-top: 120px;
    margin-bottom: 200px;
    background-color: #FFFFF5;
    width: 1920px;
    height: 320px;
    display: flex;
}
#banner>.bannerTextwrap{
    margin-left: 140px;
}
#light{
    color: #676767;
    font-family: var(--kor);
    font-weight: 400;
    font-size: 35px;
    margin-top: 88px;
}
#bold{
    font-weight: 500;
    font-family: var(--kor);
    color: #676767;
    font-size: 42px;
}
#bold>span{
    color: var(--blue_100);
}
#banner>.bannerTextwrap>a{
    display: inline-flex;
    font-family: var(--kor);
    font-size: 18px;
    color: var(--blue_100);
    font-weight: 500;
    margin-top: 38px;
    width: 196px;height: 36px;
    align-items: center;
    float: right;
    margin-right: -8px;
}
#banner>.bannerTextwrap>a>span{
    display: inline-block;
    width: 36px; height: 36px;
    margin: 0;
    background-image: url(../imgs/Service/icon-doubleArrow.png);
}
#bannerImg{
    height: 320px;
    width: 995px;
    background-image: url(../imgs/Service/bannerimg.png);
    margin-right: 0;
}
#serviceMap>h1{
    margin-top: 124px;
    margin-bottom: 16px;
    color: var(--gray_100);
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    font-family: var(--kor_title);
}
#serviceMap>h2{
    color: var(--gray_300);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 66px;
}
#serviceMap>.tabmenu{
    width: 1640px;
    height: 70px;
}
#serviceMap>.tabmenu>ul{
    display: flex;
}
#serviceMap>.tabmenu>ul>li>a{
    display: inline-block;
    width: 547px; height: 34px;
    background-color: var(--navy_100);
    font-size: 25px;
    font-weight: 400;
    font-family: var(--kor);
    color: var(--gray_300);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
#serviceMap>.tabmenu>ul>li>a.active{
    background-color: var(--gray_100);
    color: var(--navy_100);
    font-weight: 600;
}
#serviceMap>.conwraps{
    width: 1640px; height: 810px;
    margin-bottom: 100px;
    background-color: var(--gray_100);
    display: flex;
}
#serviceMap>.conwraps>div{
    margin: 0;
    box-sizing: content-box;
    padding: 85px 80px;
    width: 1478px;
}
#serviceMap>.conwraps>div>.conwrap{
    display: flex;
}
.conwrap>.textwrap{
    margin-left: 0;
}
.conwrap>.textwrap>h2{
    font-family: var(--kor);
    font-weight: 600;
    font-size: 30px;
    color: var(--navy_100);
    margin-bottom: 10px;
}
.conwrap>.textwrap>ul>li>a{
    display: inline-block;
    width: 740px;
    padding-bottom: 15px;
    padding-top: 30px;
    border-bottom: 1px solid var(--bluegray_100);
    font-family: var(--kor);
    font-size: 15px;
    color: var(--gray_400);
}
.tabcon2>.conwrap>.textwrap>ul>li>a{
    display: inline-block;
    width: 780px;
    padding-bottom: 15px;
    padding-top: 30px;
    border-bottom: 1px solid var(--bluegray_100);
    font-family: var(--kor);
    font-size: 15px;
    color: var(--gray_400);
}
.tabcon3>.conwrap>.textwrap>ul>li>a{
    display: inline-block;
    width: 780px;
    padding-bottom: 15px;
    padding-top: 44px;
    border-bottom: 1px solid var(--bluegray_100);
    font-family: var(--kor);
    font-size: 15px;
    color: var(--gray_400);
}
.conwrap>.textwrap>.space{
    margin-bottom: 100px;
}
.conwrap>.textwrap>ul>li>a>span{
    display: inline-block;
    width: 140px; height: 20px;
    font-size: 20px;
    color: var(--navy_100);
    font-weight: 500;
}

.tabcon2>.conwrap>.textwrap>ul>li>a>span{
    display: inline-block;
    width: 184px; height: 20px;
    font-size: 20px;
    color: var(--navy_100);
    font-weight: 500;
}
.tabcon3>.conwrap>.textwrap>ul>li>a>span{
    display: inline-block;
    width: 230px; height: 20px;
    font-size: 20px;
    color: var(--navy_100);
    font-weight: 500;
}
#con1{
    width: 588px; height: 640px;
    background-image: url(../imgs/Service/conimg1.jpg);
    margin-right: 0;
}
#con2{
    width: 588px; height: 640px;
    background-image: url(../imgs/Service/conimg2.jpg);
    margin-right: 0;
}
#con3{
    width: 588px; height: 640px;
    background-image: url(../imgs/Service/conimg3.jpg);
    margin-right: 0;
}
.textwrap>ul>li>a:hover>.icon_arrow{
    display: inline-block;
    width: 35px; height: 20px;
    background-image: url(../imgs/Service/icon-thinarrow.png);
    float: right;
    padding-right: 25px;
    background-repeat: no-repeat;
}
.tabcon3, .tabcon2{display: none;}