@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    /* colors */
    --gray_100: #F4F4F4;
    --gray_200: #9B9B9B;
    --gray_300: #9398A9;
    --gray_400: #636671;
    --gray_500: #575663;
    --gray_600: #4D4D4D;
    --mint_100: #09F6F9;


    /* font */
    --kor_title:"EsaManru";
    --kor: "Noto Sans KR";
    --eng: "Orbitron";
}
body{
    width: 1920px;
    background-color: #101527;
}
h1,h2,h3,h4,h5,p{
    line-height: 1.5;
}
html{
    scroll-behavior: smooth;
}
/* --------------------- Main */
main{
    width: 100%;
    height: 980px; 
    color: var(--gray_300);
    position: relative;
}
#header{
    width: 1920px;
    height: 80px;
    margin: 20px 140px; 
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0;left: 0;
    z-index: 5;
    transition: all 0.6ms;
}
#header::after{
    content: '';
    display: block;
    width: 1920px;
    position: absolute;
    top: -20px;
    left: -140px;
    background-image: url(../imgs/Main/Main_V/menubg.png);
    opacity: 0.9;
    z-index: -1;
    transition: all 500ms;
    height: 0px;
    overflow: hidden;
}
#header.bgon::after{
    height: 372px;
}
#header>.logo{
    width: 10%;
}
#header>nav{
    width: 60%;
    margin: 0px auto;
}
#header>nav>ul{
    display: flex;
    justify-content: center;
}
#header>nav>ul>li>a{
    display: inline-block;
    padding: 10px 48px;
    color: var(--gray_300, #9398A9);
    font-family: var(--kor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
#header>nav>ul>li>a.hover{
    border-bottom: 3px solid var(--gray_100);
}
#header>nav>ul>li>ul>li>a.hover{
    color: var(--gray_100);
}
#header>nav>ul>li{
    position: relative;
}
#header>nav>ul>li>ul{
    width: 110%;
    text-align: center;
    position: absolute;
    top: 50px;
    left: -10px;
    transition: all 600ms;
    height: 0px;
    overflow: hidden;
}
#header>nav>ul>li>ul>li>a{
    color: var(--gray_300, #9398A9);
    font-family: var(--kor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    display: inline-block;
    padding: 12px 0px;
}
.icons{
    width: 20%;
    justify-content: right;
}
.icons>ul{
    display: flex;
    height: 40px;
    width: 120px;
}
.icons>ul>li{
    margin: 0px 2px;
}

/* slide */
main{
    width: 1919px;
    overflow: hidden;
}
main>.slidewarp{
    display: flex;
}
main>.slidewarp>div{
    background-size: cover;
}
.slidewarp>.slide5{
    position: relative;
}
.slide5>.title{
    position: absolute;
    top: 380px;
    left: 833px;
    color: var(--gray_100);
    font-family: var(--eng);
    font-size: 48px;
    font-weight: 700;
}
.slide5>.subtitle{
    position: absolute;
    top: 442px;
    left: 886px;
    color: #475A5F;
    font-weight: 600;
    font-style: 18px;
    font-family: var(--eng);
}
.slide5>a{
    position: absolute;
    top: 506px;
    left: 887px;
    color: #899294;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #465559;
    font-family: var(--kor);
    padding: 2px;
}


/* cursor */
.pointers{
    position: absolute;
    bottom: 40px;
    left: 0;
    display: inline-block;
    width: 1920px;
    height: 20px;
    margin: 0px auto;
    text-align: center;
}
.pointers>div{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0px 7.5px;
}
.pointers>.cursor>a{
    display: inline-block;
    width: 12px;height: 12px;
    cursor:pointer;
}
.pointers>div{
    border: 1px solid var(--gray_200);
}
.on{
    background-color: rgba(147, 152, 169, 0.6);
    border: 1.5px solid var(--gray_100);
}


/* --------------------- Hydro */
.hydro{
    margin-top: 160px;
    width: 1920px;
    height: 985px;
    text-align: center;
    box-sizing: border-box;
}
.hydro>h1{
    color: var(--gray_100);
    font-family: var(--kor_title);
    font-size: 42px;
    padding: 14px;  
    font-weight: 300;  
}
.hydro>h2{
    color: var(--gray_300, #9398A9);
    font-family: var(--kor);
    font-size: 20px;
    font-weight: 400;
}
.hydrowrap{
    display: flex;
    margin: 0px auto;
}
.hydrowrap div>.buttonwrap{
    display: none;
}
.buttonwrap{
    display: flex;
}
.hydrowrap>div h3 span{
    font-family: var(--eng);
}
.hydrowrap>div h3{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor_title);
    font-size: 18px;
    padding: 6px;
    font-weight: 300;
}
.hydrowrap>.hydro_LeftButton{
    margin-left: 65px;
    margin-top: 240px;
    width: 50px;height: 110px;
}
.hydrowrap>.hydro_LeftButton>a{
    display: inline-block;
    width: 100%;height: 100%;
    background-image: url(../imgs/Main/Hydro/Left.png);
}
.hydrowrap>.hydro_LeftButton>a:hover{
    background-image: url(../imgs/Main/Hydro/Left_hover.png);
}
.hydrowrap>.hydro_RightButton {
    margin-right: 65px;
    margin-top: 240px;
    width: 50px;height: 110px;
}
.hydrowrap>.hydro_RightButton>a{
    display: inline-block;
    width: 100%;height: 100%;
    background-image: url(../imgs/Main/Hydro/Right.png);
}
.hydrowrap>.hydro_RightButton>a:hover{
    background-image: url(../imgs/Main/Hydro/Right_hover.png);
}
.hydrowrap>div h4{
    color: var(--gray_500, #575663);
    font-family: var(--eng);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.hydrowrap>.carwrap{
    width: 1640px;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: 40px;
}
.hydrowrap>.carwrap>.carswrap{
    display: flex;
    margin: 0 auto;
    width: 8840px;
    padding-top: 140px;   
}

.hydrowrap>.carwrap>.carswrap>div{
    align-items: center;
    width: 480px;
    overflow: hidden;
    text-align: center;
}
.hydrowrap>.carwrap>.carswrap>div img{
    display: inline-block;
    width: 400px;
    height: auto;
    opacity: 50%;
    margin: 0 -72px;
    overflow: hidden;
}
.hydrowrap>.carwrap>.carswrap>.hydro_on{
    margin: 0 auto;
    margin-top: -100px;
    width: 680px;
    height: 800px;
    overflow: hidden;
}
.hydrowrap>.carwrap>.carswrap>.hydro_on>img{
    display: block;
    width: 840px;
    height: 460px;
    opacity: 1;
}
.hydrowrap>.carwrap>.carswrap>.hydro_on>.buttonwrap{
    display: flex;
    text-align: center;
    height: 58px;
}
.hydrowrap>.carwrap>.carswrap>.hydro_on>.buttonwrap>div{
    margin: 0 auto;
    background-image: url(../imgs/Main/Hydro/hydro_def.png);
    width: 245px;
    height: 58px;
}
.hydrowrap>.carwrap>.carswrap>.hydro_on>.buttonwrap>div:hover{
    background-image: url(../imgs/Main/Hydro/hydro_hover.png);
}
.hydrowrap>.carwrap>.carswrap>.hydro_on>.buttonwrap>div>a{
    display: inline-block;
    width: 100%;
    height: 55px;
    line-height: 3.6;
    color: var(--gray_100);
}
.hydrowrap>.carwrap>.carswrap>.hydro_on>.buttonwrap>div>a:hover{
    color: var(--mint_100);
}
.hydrowrap>.carwrap>.carswrap>.hydro_off{
    display: none;
}

.hydrowrap>.carwrap>.carswrap>.hydro_on h3{
    font-family: var(--kor_title);
    color: var(--gray_100, #F4F4F4);
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px var(--mint_100);
}
.hydrowrap>.carwrap>.carswrap>.hydro_on h4{
    color: var(--gray_200, #9B9B9B);
    font-family: var(--eng);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; 
    margin-bottom: 60px;
}






/* --------------------- BEST */

.best{
    width: 1920px;
    height: 1142px;
    padding-top: 242px;
    box-sizing: border-box;
}
.best>h1{
    color: var(--gray_100);
    font-style: 42px;
    font-weight: 500;
    font-family: var(--eng);
    text-align: center;
}
.best>.bestNav{
    padding-top: 28px;
    display: flex;
    width: 600px; height: 50px;
    border-bottom: var(--gray_400) 1px solid;
}
.best>.bestNav>div{
    width: 25%;
}
.best>.bestNav>div>a{
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: var(--kor);
    font-size: 20px;
    color: var(--gray_400);
}
.best>.bestNav>div>.bestOn{
    color: var(--gray_100);
    border-bottom: var(--gray_100) 3px solid;
}
.best>.bestwrap{
    width: 1640px; height: 800px;
    display: flex;
    box-sizing: border-box;
}
.best>.bestwrap>.Blbtn>a{
    display: inline-block;
    width: 80px; 
    height: 860px;
    margin-top: 224px;
    background-image: url(../imgs/Main/Hydro/Left.png);
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 16px;
}
.best>.bestwrap>.Blbtn>a:hover{
    background-image: url(../imgs/Main/Hydro/Left_hover.png);
}
.best>.bestwrap>.Brbtn>a{
    display: inline-block;
    width: 80px;
    height: 860px;
    margin-top: 224px;
    text-align: center;
    background-image: url(../imgs/Main/Hydro/Right.png);
    background-repeat: no-repeat;
    margin-right: 0;
    margin-left: 16px;
}
.best>.bestwrap>.Brbtn>a:hover{
    background-image: url(../imgs/Main/Hydro/Right_hover.png);
}
.best>.bestwrap>.bestConwrap{
    width: 1410px;
    height: 860px;
    padding-bottom: 104px;
    padding-top: 54px;
    position: relative;
    
}
.best>.bestwrap>.bestConwrap>div{
    width: 100%;height: 700px;
    display: flex;
    position: absolute;
}
.best>.bestwrap>.bestConwrap>div>div{
    width: 33.33%;
    height: 860px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}
.best>.bestwrap>.bestConwrap>div>div>a{
    width: 100%; height: 574px;
    display: inline-block;
}
.best>.bestwrap>.bestConwrap>div>div>a>h3{
    font-weight: 600;
    font-size: 20px;
    font-family: var(--kor);
    color: var(--gray_100);
    background-image: url(../imgs/Main/Best/Title_img.png);
    background-repeat: no-repeat;
    width: 414px;
    height: 108px;
    line-height: 5.5;
    float: right;
    margin-bottom: 0;
}
.best>.bestwrap>.bestConwrap>div>div>a:hover>h3{
    color: var(--mint_100);
    background-image: url(../imgs/Main/Best/Title_img_hover.png);
}
.best>.bestwrap>.bestConwrap>div>div>ul{
    display: flex;
    width: 300px; height: 115px;
    text-align: left;
}
.best>.bestwrap>.bestConwrap>div>div>ul>li>h4{
    font-family: var(--kor);
    color: var(--gray_400);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
.best>.bestwrap>.bestConwrap>div>div>ul>li>p{
    font-family: var(--kor);
    color: var(--gray_100);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* best con1 Img */
#img1-1{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car1.png);
}
#img1-2{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-image: url(../imgs/Main/Best/best_car2.png);
    background-repeat: no-repeat;
}
#img1-3{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-image: url(../imgs/Main/Best/best_car3.png);
    background-repeat: no-repeat;
} 
#img2-1{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car2-1.png);
}
#img2-2{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car2-2.png);
}
#img2-3{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car2-3.png);
}
#img3-1{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car3-1.png);
}
#img3-2{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car3-2.png);
}
#img3-3{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car3-3.png);
}
#img4-1{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car4-1.png);
}
#img4-2{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car4-2.png);
}
#img4-3{
    width: 470px; height: 420px;
    margin-bottom: 14px;
    background-repeat: no-repeat;
    background-image: url(../imgs/Main/Best/best_car4-3.png);
}

/* --------------------- RECOM */
.recom {
    width: 1920px;
    height: 672px;
    padding-top: 242px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}
.recom_absol{
    position: absolute;
    top: 347px;
    left: 638px;
}
.recom_absol>h1{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor_title);
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 20px;
}
.recom_absol>h1>span{
    font-family: var(--kor);
    font-weight: 600;
}
.recom_absol>h2{
    color: #71767C;
    font-family: var(--kor);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 34px;
}
.buttonwrap{
    display: block;
}
.buttonwrap>a:first-child{
    margin-right: 42px;
}
.buttonwrap>a{
    display: inline-block;
    width: 188px;height: 58px;
    background-image: url(../imgs/Main/Recom/button_def.png);
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
}
.buttonwrap>a:hover{
    background-image: url(../imgs/Main/Recom/button_hover.png);
    color: var(--mint_100);
}

/* shop */
.shop{
    width: 1640px; height: 1380px;
    position: relative;
    box-sizing: border-box;
    padding-top: 242px;
}
.shop>h1{
    color: var(--gray_100);
    font-family: var(--eng);
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}
.shop>h2{
    color: var(--gray_300);
    font-weight: var(--kor);
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    line-height: 2;
    padding-bottom: 90px;
}
.shop::after{
    display: inline-block;
    content: '';
    width: 1920px;
    height: 5px;
    background: #4B4E5B;
    position: absolute;
    left: -140px; top: 478px;
    z-index: 0;
}
.shopNav{
    display: flex;
}
.shopNav>div>a{
    display: inline-block;
    text-align: center;
    margin-top: -24px;
    position: relative;
    z-index: 1;
}
/* 기본 원 */
.shopNav>div>a>.circle{
    display: inline-block;
    background: var(--gray_100);
    width: 7px; height: 7px;
    border-radius: 10px;
}
.shopNav>div.shopOn>a>.circle{
    width: 17px;
    height: 17px;
    background-color: #09F6F950;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--mint_100);
}
.shopNav>div.shopOn>a>.circle::after{
    position: relative;
    content: '';
    top: 8%; left: 45%;
    position: absolute;
    background: var(--gray_100);
    width: 7px; height: 7px;
    border-radius: 10px;
}
.shopNav>div>a>p{
    font-family: var(--kor);
    color: var(--gray_300);
    font-style: 22px;
    font-weight: 500;
    margin-top: 24px;
    font-family: var(--kor);
}
.shopNav>div.shopOn>a>p{
    font-family: var(--kor);
    color: var(--gray_100);
    font-style: 22px;
    font-weight: 500;
    margin-top: 24px;
    font-family: var(--kor);
    text-shadow: 0 0 10px var(--mint_100);
}
.shopshowwarp{
    height: 920px;
    width: 1640px;
    overflow: hidden;
}
.shopwarp{
    height: 920px;
    display: flex;
    margin-left: -4650px;
}
.Slbtn{
    display: inline-block;
    position: absolute;
    left: 400px; top: 940px;
    width: 50px; height: 110px;
    background-image: url(../imgs/Main/Hydro/Left.png);
    z-index: 2;
}
.Slbtn:hover{
    background-image: url(../imgs/Main/Hydro/Left_hover.png);
}
.Srbtn{
    display: inline-block;
    position: absolute;
    width: 50px; height: 110px;
    right: 400px; top: 940px;
    background-image: url(../imgs/Main/Hydro/Right.png);
    z-index: 2;
}
.Srbtn:hover{
    background-image: url(../imgs/Main/Hydro/Right_hover.png);
}
.shopwarp>div{
    display: flex;
}
.shopwarp>div>div.shopConOn{
    width: 1020px;
    margin-top: 176px;
}
.shopwarp>div>div.shopConOn>div{
    background-color: #363946;
    width: 555px; height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 30px #15435a;
}
.shopwarp>div>div.shopConOn>h5{
    font-weight: 500;
    font-size: 30px;
    color: var(--gray_100);
}
.shopwarp>div>div.shopConOn>p{
    font-weight: 500;
    font-size: 20px;
    color: var(--gray_300);

}
.shopwarp>div>div{
    text-align: center;
    margin-top: 296px;
}
.shopwarp>div>div>div{
    width: 310px; height: 305px;
    background-color: #2A2E3D;
    border-radius: 300px;
    margin-bottom: 40px;
}
.shopwarp>div>div>h5{
    font-family: var(--kor);
    color: var(--gray_200);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.shopwarp>div>div>p{
    font-family: var(--kor);
    color: var(--gray_200);
    font-size: 16px;
    font-weight: 400;
    color: var(--gray_500);
}

/* img */
#gift1-1{
    background-image: url(../imgs/Main/Shop/gift1-1.png);
}
#gift1-2{
    background-image: url(../imgs/Main/Shop/gift1-2.png);
}
#gift1-3{
    background-image: url(../imgs/Main/Shop/gift1-3.png);
}
#gift1-4{
    background-image: url(../imgs/Main/Shop/gift1-4.png);
}
#gift1-5{
    background-image: url(../imgs/Main/Shop/gift1-5.png);
}
#gift1-6{
    background-image: url(../imgs/Main/Shop/gift1-6.png);
}
#point1-1{
    background-image: url(../imgs/Main/Shop/point1-1.png);
}
#point1-2{
    background-image: url(../imgs/Main/Shop/point1-2.png);
}
#point1-3{
    background-image: url(../imgs/Main/Shop/point1-3.png);
}
#point1-4{
    background-image: url(../imgs/Main/Shop/point1-4.png);
}
#point1-5{
    background-image: url(../imgs/Main/Shop/point1-5.png);
}
#point1-6{
    background-image: url(../imgs/Main/Shop/point1-6.png);
}
#pro1-1{
    background-image: url(../imgs/Main/Shop/pro1-1.png);
}
#pro1-2{
    background-image: url(../imgs/Main/Shop/pro1-2.png);
}
#pro1-3{
    background-image: url(../imgs/Main/Shop/pro1-3.png);
}
#pro1-4{
    background-image: url(../imgs/Main/Shop/pro1-4.png);
}
#pro1-5{
    background-image: url(../imgs/Main/Shop/pro1-5.png);
}
#pro1-6{
    background-image: url(../imgs/Main/Shop/pro1-6.png);
}
#arti1-1{
    background-image: url(../imgs/Main/Shop/arti1-1.png);
}
#arti1-2{
    background-image: url(../imgs/Main/Shop/arti1-2.png);
}
#arti1-3{
    background-image: url(../imgs/Main/Shop/arti1-3.png);
}
#arti1-4{
    background-image: url(../imgs/Main/Shop/arti1-4.png);
}
#arti1-5{
    background-image: url(../imgs/Main/Shop/arti1-5.png);
}
#arti1-6{
    background-image: url(../imgs/Main/Shop/arti1-6.png);
}
/* --------------------- EVENT */
.events{
    width: 1920px; height: 850px;
    box-sizing: border-box;
    padding-top: 242px;
}
.events>h1{
    color: var(--gray_100);
    font-family: var(--eng);
    font-size: 42px;
    font-weight: 500;
    text-align: center;
}
.events>h2{
    color: var(--gray_300);
    font-weight: var(--kor);
    font-size: 20px;
    text-align: center;
    padding-top: 14px;
}
.events>.ebtnwrap{
    margin-top: 70px;
    display: flex;
}
.events>.ebtnwrap>.lbtn, .rbtn{
    width: 140px;height: 285px;
}
.events>.ebtnwrap>.lbtn>a{
    display: inline-block;
    width: 140px;height: 285px;
    margin: 88px 45px;
    background-image: url(../imgs/Main/Hydro/Left.png);
    background-repeat: no-repeat;
}
.events>.ebtnwrap>.lbtn>a:hover{
    background-image: url(../imgs/Main/Hydro/Left_hover.png);
}
.events>.ebtnwrap>.rbtn>a{
    display: inline-block;
    width: 140px;height: 285px;
    margin: 88px 45px;
    background-image: url(../imgs/Main/Hydro/Right.png);
    background-repeat: no-repeat;
}
.events>.ebtnwrap>.rbtn>a:hover{
    background-image: url(../imgs/Main/Hydro/Right_hover.png);
}
.events>.ebtnwrap>.eventswrap{
    width: 1640px; height: 407px;
    overflow: hidden;
}
.events>.ebtnwrap>.eventswrap>ul{
    display: flex;
    width: 6560px;
    height: 100vh;
    transition: all 0.6s;
    text-align: center;
}
.events>.ebtnwrap>.eventswrap>ul>li{
    width: 16.66%;
    height: 100vh;
}
.events>.ebtnwrap>.eventswrap>ul>li>a>.Etext{
    text-align: left;
}
.events>.ebtnwrap>.eventswrap>ul>li>a{
    display: inline-block;
    width: 510px;
    height: 100vh;
}
.events>.ebtnwrap>.eventswrap>ul>li>a>.Etext>p{
    font-style: 18px;
    font-family: var(--kor);
    color: var(--gray_500);
    padding-top: 30px;
}
.events>.ebtnwrap>.eventswrap>ul>li>a>.Etext>h4{
    font-family: var(--kor);
    color: var(--gray_100);
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 8px;
}
.events>.ebtnwrap>.eventswrap>ul>li>a>.Etext>h5{
    color: var(--gray_300);
    font-family: var(--kor);
    font-weight: 500;
    font-style: 16px;   
}
#eimg1{
    width: 510px; height: 285px;
    background-image: url(../imgs/Main/Events/event_img1.jpg);
}
#eimg2{
    width: 510px; height: 285px;
    background-image: url(../imgs/Main/Events/event_img2.jpg);
}
#eimg3{
    width: 510px; height: 285px;
    background-image: url(../imgs/Main/Events/event_img3.jpg);
}
#eimg4{
    width: 510px; height: 285px;
    background-image: url(../imgs/Main/Events/event_img4.jpg);
}
#eimg5{
    width: 510px; height: 285px;
    background-image: url(../imgs/Main/Events/event_img5.jpg);
}
#eimg6{
    width: 510px; height: 285px;
    background-image: url(../imgs/Main/Events/event_img6.jpg);
}

/* --------------------- Banner */
.banner{
    width: 1920px; height: 336px;
    background-image: url(../imgs/Main/Banner/Banner_IMG.jpg);
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    margin-top: 242px;
}
.banner>.bannerwrap{
    position: absolute;
    left: 333px;
    top: 70px;
    text-align: center;
}
.bannerwrap>h1{
    color: var(--navy_100, #262C43);
    font-family: var(--eng);
    font-size: 50px;
    font-weight: 800;
}
.bannerwrap>h1>span{
    font-weight: 400;
    padding-right: 14px;
}
.bannerwrap>h2{
    padding-top: 16px;
    color: var(--navy_100, #262C43);
    font-family: var(--kor);
    font-size: 16px;
    font-weight: 400;
}
.bannerwrap>h2>span{
    font-weight: 600;
}
.bannerwrap>.btns{
    display: inline-block;
    display: flex;
    margin-top: 50px;
    
}
.bannerwrap>.btns>div>a{
    text-align: center;
    display: inline-block;
    width: 204px; height: 48px;
    background: #9b9b9b20;
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 400;
    line-height: 3.3;
    color: var(--navy_100);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

}
.bannerwrap>.btns>div>a>i{
    font-family: "Font Awesome 5 Brands";
    font-size: 22px;
    margin-right: 4px;
}
.bannerwrap>.btns>div:first-child>a{
    margin-right: 24px;
}
.bannerwrap>.btns>div:first-child>a>i{
    margin-right: 6px;
}


/* Footer */
footer{
    width: 1920px;height: 630px;
    background-color: #090B15;
    box-sizing: border-box;
}
footer>.up{
    width: 1640px;
    height: 172px;
    border-bottom: 0.5px solid var(--gray_600);
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}
footer> .up > h3{
    display: inline-block;
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 15px;
    font-weight: 600;
    margin-top: 124px;
    margin-left: 0;
}
footer>.up h3{
    margin-right: 120px;
}
footer>.up h3:nth-child(4){
    margin-right: 84px;
}
.up>.logo{
    margin-right: 840px;
    padding-bottom: 33px;
    padding-top: 90px;
    padding-left: 62px;
}
.up>.topbtn{
    margin-top: 100px;
}
footer>.down{
    margin-left: 140px;
    margin-right: 140px;
}
footer>.down.footerwrap{
    width: 1640px;
    height: 346px;
}
footer>.down>.footerwrap>.contactus>h3{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-top: 58px;
    padding-left: 62px;
    margin-bottom: 30px;
}
footer>.down>.footerwrap>.contactus>li{
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-left: 62px;
}
.footerwrap{
    display: flex;
}
.footerwrap>.information>.menuwrap{
    display: flex;
}
.information>h3{
    color: var(--gray_100, #F4F4F4);
    font-family: var(--kor);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding-top: 58px;
    padding-left: 77px;
    margin-bottom: 30px;
}
.menuwrap>ul:first-child{
    padding-left: 77px;
    padding-right: 48px;
}
.menuwrap>ul:last-child{
    padding-left: 40px;
}
.menuwrap>ul>li>a{
    display: inline-block;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 28px;
}
.footerwrap{
    margin: 0;
}
.footerwrap>.contactus, .information, .sustain_bus, .ir_infor{
    margin: 0;
}
.footerwrap>ul{
    margin-top: 37px;
}
.footerwrap>.com_infor{
    margin-left: 290px;
    margin-right: 0;
    padding-right: 109px;
}
.footerwrap>.ir_infor{
    padding-right: 104px;
}
.footerwrap>ul>li>a{
    display: inline-block;
    padding-bottom: 30px;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
}
.footerwrap>ul>li:last-of-type>a{
    padding-bottom: 0;
}
footer>.down>.icons{
    width: 1640px;
    height: 66px;
    display: flex;
    align-items: center;
    margin-left: 46px;
}
footer>.down>.icons>span{
    align-items:end;
}
.icons>a>i{
    color: var(--gray_100, #F4F4F4);
    font-family: "Font Awesome 5 Brands";
    font-size: 22px;
    font-weight: 400;
    padding-right: 38px;
}
.icons>.familysite{
    width: 284px; height: 44px;
    border: 0.5px solid var(--gray_400);
    color: var(--gray_100);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: #090B15;
    position: relative;
    margin-right: 700px;
}
.icons>.familysite>img{
    float: right;
    margin-top: 2px;
}
.icons>.familysite>.drop{
    position: absolute;
    background-color: #090B15;
    border: 0.5px solid var(--gray_400);
    border-bottom: 0;
    top: -452px;
    left: -1px;
    padding: 15px;
    width: 284px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3;
}
.icons>.familysite>.drop.active{
    opacity: 1;
}
.drop>li>a{
    display: inline-block;
    color: var(--gray_200, #9B9B9B);
    font-family: var(--kor);
    font-size: 14px;
    font-weight: 300;
    line-height: 2.5;
}
.icons>span{
    float: right;
    color: var(--gray_400, #636671);
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 300;
    margin-top: auto;
}

/* footer FIN */